{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Blogs{% endblock %}

{% block content %}

    <h1 class="text-center">Welcome to Sunny's Blog</h1>

    <h2>Latest Posts</h2>
    <hr/>
    <!-- Details for each blog post -->
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' blog.id %}">
            <h3>{{ blog.title }}</h3>
            <!--Injected pub_date_beautify function from Blog model-->
            {{ blog.pub_date_beautify }}
            <br/>
            <img class="img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
            <br/>
            <p>{{ blog.body }}</p>
        </a>
    {% endfor %}

{% endblock %}